In [1]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np
from numpy import random
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px # data visualization


%matplotlib inline

In [2]:
election = pd.read_csv('Election_project1.csv')
election.head(10)
election_cpy=election.copy()

In [3]:

election_cpy.drop('other_votes', inplace=True, axis=1)
election_cpy.drop('socialist_vote', inplace=True, axis=1)
election_cpy.drop('other_percent', inplace=True, axis=1)
election_cpy.drop('socialist_percent', inplace=True, axis=1)
election_cpy.drop('socialist_ev', inplace=True, axis=1)
election_cpy.drop('other_ev', inplace=True, axis=1)


election_cpy

,state,total_votes,rep_votes,rep_percent,rep_ev,dem_votes,dem_percent,dem_ev
0,Alabama,160477,55634,34.7,0,96368.0,60.1,11
1,Arkansas,127966,44800,35.0,0,81242.0,63.5,8
2,California,302399,164755,54.5,9,124985.0,41.3,0
3,Colorado,220895,92701,42.0,0,122705.0,55.5,4
4,Connecticut,180195,102572,56.9,6,74014.0,41.1,0
...,...,...,...,...,...,...,...,...
1216,Virginia,2739447,1437490,52.5,13,1217290.0,44.4,0
1217,Washington,2487433,1108864,44.6,0,1247652.0,50.2,11
1218,West Virginia,648124,336475,51.9,5,295497.0,45.6,0
1219,Wisconsin,2598607,1237279,47.6,0,1242987.0,47.8,11
1220,Wyoming,218351,147947,67.8,3,60481.0,27.7,0

In [4]:
election_cpy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1221 entries, 0 to 1220
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   state        1221 non-null   object
 1   total_votes  1221 non-null   int64
 2   rep_votes    1221 non-null   int64
 3   rep_percent  1221 non-null   float64
 4   rep_ev       1220 non-null   object
 5   dem_votes    1220 non-null   float64
 6   dem_percent  1220 non-null   float64
 7   dem_ev       1216 non-null   object
dtypes: float64(3), int64(2), object(3)
memory usage: 76.4+ KB

In [5]:
election_cpy.isnull().sum()

state          0
total_votes    0
rep_votes      0
rep_percent    0
rep_ev         1
dem_votes      1
dem_percent    1
dem_ev         5
dtype: int64

In [6]:
election_cpy_new=election_cpy.dropna(axis=0).copy()
election_cpy_new.head(10)
election_cpy.isnull().sum()

state          0
total_votes    0
rep_votes      0
rep_percent    0
rep_ev         1
dem_votes      1
dem_percent    1
dem_ev         5
dtype: int64

In [7]:
election_cpy_new.describe()
election_cpy_new.info()
election_cpy_new['rep_ev'] = election_cpy_new['rep_ev'].str.replace('*', '')
election_cpy_new['dem_ev'] = election_cpy_new['dem_ev'].str.replace('*', '')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1216 entries, 0 to 1220
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   state        1216 non-null   object
 1   total_votes  1216 non-null   int64
 2   rep_votes    1216 non-null   int64
 3   rep_percent  1216 non-null   float64
 4   rep_ev       1216 non-null   object
 5   dem_votes    1216 non-null   float64
 6   dem_percent  1216 non-null   float64
 7   dem_ev       1216 non-null   object
dtypes: float64(3), int64(2), object(3)
memory usage: 85.5+ KB

In [8]:
election_cpy_new["rep_percent"]= election_cpy_new["rep_percent"].astype('int64')
election_cpy_new["dem_votes"]= election_cpy_new["dem_votes"].astype('int64')
election_cpy_new["dem_percent"]= election_cpy_new["dem_percent"].astype('int64')
election_cpy_new['rep_ev'] = pd.to_numeric(election_cpy_new['rep_ev'], errors='coerce')
election_cpy_new['dem_ev'] = pd.to_numeric(election_cpy_new['dem_ev'], errors='coerce')

election_cpy_new["rep_ev"]= election_cpy_new["rep_ev"].astype('int64')
election_cpy_new["dem_ev"]= election_cpy_new["dem_ev"].astype('int64')





election_cpy_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1216 entries, 0 to 1220
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   state        1216 non-null   object
 1   total_votes  1216 non-null   int64
 2   rep_votes    1216 non-null   int64
 3   rep_percent  1216 non-null   int64
 4   rep_ev       1216 non-null   int64
 5   dem_votes    1216 non-null   int64
 6   dem_percent  1216 non-null   int64
 7   dem_ev       1216 non-null   int64
dtypes: int64(7), object(1)
memory usage: 85.5+ KB

In [9]:
election_cpy_new.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1216    False
1217    False
1218    False
1219    False
1220    False
Length: 1216, dtype: bool

In [10]:
election_cpy_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1216 entries, 0 to 1220
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   state        1216 non-null   object
 1   total_votes  1216 non-null   int64
 2   rep_votes    1216 non-null   int64
 3   rep_percent  1216 non-null   int64
 4   rep_ev       1216 non-null   int64
 5   dem_votes    1216 non-null   int64
 6   dem_percent  1216 non-null   int64
 7   dem_ev       1216 non-null   int64
dtypes: int64(7), object(1)
memory usage: 85.5+ KB

In [11]:
election_cpy_new.isnull().sum()

state          0
total_votes    0
rep_votes      0
rep_percent    0
rep_ev         0
dem_votes      0
dem_percent    0
dem_ev         0
dtype: int64

In [12]:
election_cpy_new.dtypes

state          object
total_votes     int64
rep_votes       int64
rep_percent     int64
rep_ev          int64
dem_votes       int64
dem_percent     int64
dem_ev          int64
dtype: object

In [13]:
#election_cpy_new["state"]= election_cpy_new["state"].astype('category')
#replace_map={'Alabama':1,'Arizona':2,'Arkansas':3,'California':4,'Colorado':5,'Connecticut':6,'Delaware':7,'Florida':8,'Georgia':9,'Idaho':10,'Illinois':11,'Indiana':12,'Iowa':13,'Kansas':14,'Kentucky':15,'Louisiana':16,'Maine':17,'Maryland':18,'Massachusetts':19,'Michigan':20,'Minnesota':21,'Mississippi':22,'Missouri':23,'Montana':24
#,'Nebraska':25,'Nevada':26,'New Hampshire':27,'New Jersey':28,'New Mexico':29,'New York':30,'North Carolina':31,'North Dakota':32,'Ohio':33,'Oklahoma':34,'Oregon':35,'Pennsylvania':36,'Rhode Island':37,'South Carolina':38,'South Dakota':39,'Tennessee':40,'Texas':41,'Utah':42,'Vermont':43,'Virginia':44,'Washington':45,'West Virginia':46,'Wisconsin':47,'Wyoming':48}
#election_cpy_new.replace(replace_map, inplace=True)

#election_cpy_new
#election_cpy_new.info()

In [14]:
election_cpy_new.to_csv(r'election_after_handling.csv', index = False, header=True)